<?xml version="1.0"?>
<!--
  This example demostrates the HyperlinkLicense UI built in to WixBalExtensionExt.
  
  Also shows how to override the default logo.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Sample Burn Installation" Version="$(bal.Version(1.0))" UpgradeCode="2C81F0BB-1891-4E83-B71A-5160BA33D985"
    Manufacturer="ACME"
    AboutUrl="http://wixtoolset.org">

    <BootstrapperApplicationRef Id="WixExtendedBootstrapperApplication.HyperlinkLicense">
      <Payload SourceFile="Resource\License.htm" />
    </BootstrapperApplicationRef>
    <WixVariable Id="WixExtbaLicenseUrl" Value="License.htm" />
    <WixVariable Id="WixExtbaLogo" Value="Resource\Logo.png" />

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]ACME" />

    <Chain>
      <PackageGroupRef Id="NetFx40Redist" />
    </Chain>

  </Bundle>
</Wix>
